<a href="https://colab.research.google.com/github/k2mjh/Class2024/blob/main/1%EC%B0%A8%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1차시
(2024. 03. 15)

###Variables

In [1]:
a = 1
print(type(a))

<class 'int'>

In [2]:
a = 1.1
type(a)

float

In [5]:
a = '123' ; print(type(a)) #small quotation makes it string
print(a[1]) #indexing

<class 'str'>
2

In [7]:
a = [1, 2, 3, 4]; print(type(a)); print(a[3])

<class 'list'>
4

In [9]:
a =	{"a": "apple", "b": "orange", "c": 2014} #how to pair things in dict
print(type(a))
print(a["a"]) #index에 해당하는 value 산출

<class 'dict'>
apple

In [13]:
a = [1,'a', [3, '4']] ; print(type(a))
print(a[0]) ; print(a[2])
print(a[2] [1]) #list a 내의 index 먼저, 해당 value 안에서 한번더 indexing

<class 'list'>
1
[3, '4']
4

###String

In [15]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6]) #012345 뒤에서부터는 -1이 시작
print(s[1:3], s[1:], s[:3], s[:]) #[:]이용한 indexing #[0:3]이면 2까지 print

a f f a
bc bcdef abc abcdef

In [17]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:]) #애초에 list이기 때문에 slice해서도 list로 print

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [27]:
print(len(s))
len(n)

6

3

In [28]:
l = {'a':2, 'b':'bear'}
len(l) #dict에서도 사용 가능

2

In [29]:
s[1]+s[3]+s[4:]*10 #마지막 값만 10번 반복되는 형태

'bdefefefefefefefefefef'

In [30]:
s.upper() #make it upper case

'ABCDEF'

In [34]:
s = ' this is a house built this year.\n'
result = s.find('house') #index of first instance of string t inside
result #space bar다 포함한 index

11

In [42]:
s = s.strip() #양끝 공백 제거
#만약 괄호 안에 특정 str을 입력하면 양끝의 해당 str이 등장하면 제거
s #여기서 \n은 enter key를 의미함 ; 이 역시 white space이기 때문에 제거 대상임

'this is a house built this year'

In [46]:
s = s.strip('t')
s

'his is a house built this year'

In [47]:
tokens = s.split(' ') # split s into a list wherever a t is found (whitespace by default)
tokens

['his', 'is', 'a', 'house', 'built', 'this', 'year']

In [50]:
s = ' '.join(tokens) # combine the words of the text into a string using s as the glue
s

'his is a house built this year'

In [53]:
s = s.replace('is', 'that') # replace instances of t with u inside s
s #2개의 입력을 필요로 하는 함수로, t가 등장하기만 하면 다 u로 바꿔버림

'hthat that a house built that year'

###Syntax

In [63]:
a = [a, 'b', 3, 4]
for i in a:
    print(i)

[[1, 2, 3, 4], 2, 3, 4]
b
3
4

In [59]:
a = [1, 2, 3, 4]
for i in range(len(a)): #len(a)=4인데, 그렇다면 i 값은 0부터 들어감
    print(i)
    print(a[i]) #i가 0부터니까 이렇게 인덱싱 할 수 있음

1
0
2
1
3
2
4
3

In [64]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [70]:
a = 0 #'='는 할당 연산자로
if a == 0: #'=='는 비교 연산자로 쓰임
    print(a)
else:
    print(a+1)

0

In [71]:
for i in range(1, 3): #시작값, 종료값 중 종료값은 포함하지 않음
    for j in range(3, 5): #for문이 2개가 중첩되어 있는 경우 알기
        print(i*j)

3
4
6
8

In [74]:
for i in range(1,3):
  for j in range(3,5):
    if j >= 4:
        print(i*j) #else인 경우에 대해서는 안 써도 됨

4
8

In [76]:
a = [1, 2, 3, 4]
b = [i for i in a if i >= 2]
#for i in a 부분을 가장 먼저 읽기 : 4번 도는구나
#a 안에 있는 i에 대해 if 조건을 충족할 경우에만 b의 list 구성으로 넣을 것
b

[2, 3, 4]

In [77]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4] #문자열의 길이가 4이상이도록
b

['green', 'blue', 'purple']

In [79]:
a = ['red', 'green', 'blue', 'purple']
b = [1, 2, 3, 4]
c = {a[i]:b[i] for i in range(4)} #range의 기본 시작값은 0임
c

{'red': 1, 'green': 2, 'blue': 3, 'purple': 4}